.App {
  text-align: center;
  position: relative; 
}

.App-header {
  width: 100%;
  height: 15vh; 
  background-color: #0F3B5F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content {
  display: flex;
}

.App-column {
  flex: 50%;
	height: 84vh;
  border-left: 1px solid #ccc; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stockchart-section {
  width: 95%;
  height: 60vh;
}

.finance-shelf-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; 
}